.widget {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  height: 200px;
  width: 200px;
  margin: 10px 20px;
}

.bullet {
  list-style-type: none;
}

.widget h2 {
  font-size: small;
  color: black;
  text-align: left;
}

.widget p {
  font-weight: bold;
  text-align: left;
}

.bullet li {
  font-size: 12px;
  padding: 3px;
  text-align: left;
  color: #61dafb;
}
